.fillSpace {
  width: 100vw;
  height: 100%;
  position: relative;
}

.toggleIcon {
  right: 15pt;
  top: 50%;
  margin-top: -16pt;
  position: absolute;
  z-index: 502;
}

.toggleIconDef {
  font-size: 36pt;
}

.userListCustom {
  //overflow: hidden;
  width: 120pt;
}

.userBox {
  width: 100%;
  height: 1.5vw;
}
