<mat-sidenav-container class="sidenav-container fillSpace">
  <mat-sidenav-content>
    <button (click)="drawer.toggle()" class="toggleIcon" mat-icon-button>
      <mat-icon aria-label="Side nav" class="toggleIconDef">swap_horizontal_circle</mat-icon>
    </button>
    <div class="fillSpace">
      <app-world-map></app-world-map>
    </div>
  </mat-sidenav-content>
  <mat-sidenav
    #drawer
    attr.role="navigation"
    class="sidenav"
    fixedInViewport="true"
    mode="side"
    opened="false"
    position="end">
    <mat-toolbar class="" color="primary">
      <button (click)="drawer.toggle()" mat-button>Users</button>
    </mat-toolbar>
    <mat-nav-list class="userListCustom">
      <div class="userBox" *ngFor="let item of userList">
        <a href="#" mat-list-item>
          <mat-icon>{{item.icon}}</mat-icon>
          <h5>{{item.nickname}}</h5>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

</mat-sidenav-container>
