<h2>Please select a marker to start:</h2>
<div>
  <mat-grid-list [cols]="4" class="gridDisplay">
    <mat-grid-tile>
      <button mat-icon-button>
        <mat-icon aria-label="Marker button" class="markerList">contact_support</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-icon-button>
        <mat-icon aria-label="Marker button" class="markerList">favorite</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-icon-button>
        <mat-icon aria-label="Marker button" class="markerList">arrow_downward</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-icon-button>
        <mat-icon aria-label="Marker button" class="markerList">assistant_photo</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-icon-button>
        <mat-icon aria-label="Marker button" class="markerList">flash_on</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-icon-button>
        <mat-icon aria-label="Marker button" class="markerList">favorite_border</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-icon-button>
        <mat-icon aria-label="Marker button" class="markerList">location_on</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-icon-button>
        <mat-icon aria-label="Marker button" class="markerList">local_pizza</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-icon-button>
        <mat-icon aria-label="Marker button" class="markerList">not_listed_location</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-icon-button>
        <mat-icon aria-label="Marker button" class="markerList">where_to_vote</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-icon-button>
        <mat-icon aria-label="Marker button" class="markerList">beenhere</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-icon-button>
        <mat-icon aria-label="Marker button" class="markerList">person_pin_circle</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<!--<div mat-dialog-actions>-->
<!--<button mat-button [mat-dialog-close]="data" cdkFocusInitial>Login</button>-->
<!--<button mat-button (click)="close()">Close</button>-->
<!--</div>-->
