<h2>Please select a marker icon to login:</h2>
<div>
  <mat-grid-list [cols]="4" class="gridDisplay">
    <mat-grid-tile *ngFor="let name of iconList">
      <button mat-icon-button (click)="selectIcon(name)">
        <mat-icon aria-label="Marker button" class="markerList">{{name}}</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<!--<div mat-dialog-actions>-->
<!--<button mat-button [mat-dialog-close]="data" cdkFocusInitial>Login</button>-->
<!--<button mat-button (click)="close()">Close</button>-->
<!--</div>-->
